<a href="https://colab.research.google.com/github/heber-augusto/udacity-azure-ml-foudations/blob/master/lab1_linear_regression_model_nyc_taxi_and_limousine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This jupyter notebook was created to compare the effort of doing machine learing tasks without Azure Machine Learning Studio's tools.

The goal at this notebook is to train a linear regression model from one of Azure Open Dataset: NYC Taxi & Limousine Commission - green taxi trip records

A detailed description for this dataset can be found at the link below. 

https://azure.microsoft.com/en-us/services/open-datasets/catalog/nyc-taxi-limousine-commission-green-taxi-trip-records/

The dataset used can be found at:  https://introtomlsampledata.blob.core.windows.net/data/nyc-taxi/nyc-taxi-sample-data.csv

This notebook demonstrate:

1. Getting the dataset and creating dataframe from csv file;
1. Presents some dataset explorations to undestand data;
1. Splitting the dataframe for training;
1. Training a linear regression model.

The output feature from this dataset is the TotalAmount

The cell bellow contains some libraries and some essencial defines for the task

In [1]:
import pandas as pd
url="https://introtomlsampledata.blob.core.windows.net/data/nyc-taxi/nyc-taxi-sample-data.csv"

**Step 1: Getting the dataset and creating dataframe from csv file**

The dataset can be obtained from the url https://introtomlsampledata.blob.core.windows.net/data/nyc-taxi/nyc-taxi-sample-data.csv

The pandas library has a method which does this: read_csv()

So we will use it and pass the url

In [5]:
nyc_taxi_dataframe = pd.read_csv(url)

**Presents some dataset explorations to undestand data**

The following cells presents:
 
*  Some basic statics information (using dataframe describe method)
*  Correlation information

In [8]:
nyc_taxi_dataframe.describe()

           vendorID  passengerCount  ...   temperature   totalAmount
count  11734.000000    11734.000000  ...  11734.000000  11734.000000
mean       1.790608        1.348560  ...     10.314244     14.733528
std        0.406892        1.016123  ...      8.500600     10.983099
min        1.000000        1.000000  ...    -13.379464      3.300000
25%        2.000000        1.000000  ...      3.566372      8.150000
50%        2.000000        1.000000  ...     10.318229     11.300000
75%        2.000000        1.000000  ...     17.239744     17.800000
max        2.000000        6.000000  ...     26.524107    339.380000

[8 rows x 12 columns]